.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    justify-content: space-around;
    background-color: rgb(235, 230, 230);
    height: 90px;
    padding-inline-start: 0%;
}

.label,
.quantity {
    display: block;
    text-align: center;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
    color: rgba(95, 94, 94, 0.784);
    padding-top: 9px;
}

.quantity {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.86;
    color: black;
    padding-top: 0;
}

.wrapperStats {
    border: 2px solid rgb(194, 193, 193);
}